* {
    margin: 0;
    padding: 0;

}

:root {
    --fancy-font: 'Shrikhand', cursive;
    --regular-font: 'Inclusive Sans', sans-serif;
    --light-text-color: #fbf8fc;

}

body {
    background-color: #cdc5cf;
    font-family: var(--regular-font);
}

/* <------------Navigation bar, banner, and header styling------------> */

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    position: absolute;
    z-index: 10;
    font-size: 18px;
    top: 70%;
}


.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
    padding: 5px;
    border: 2px solid var(--light-text-color);
    border-radius: 1px;
    z-index: 11;
}


.navbar ul li a {
    text-decoration: none;
    color: var(--light-text-color);

}

.banner {
    position: relative;
    top: 0;
}

.banner-image {
    display: block;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    z-index: 1;
    
}

.banner h1,
.banner p {
    position: absolute;
    z-index: 5;

}

.banner h1 {
    font-size: 60px;
    color: var(--light-text-color);
    top: 40%;
    left: 35%;
    text-align: center;
    font-family: var(--fancy-font);
}

.banner h2 {
    font-family: var(--fancy-font);
    color: var(--light-text-color);
    font-size: 50px;
    padding: 8px 18px;
    border: 2px solid var(--light-text-color);
    border-radius: 200px;
    display: inline;
    position: absolute;
    top: 2%;
    left: 2%;
}

.banner p {
    font-size: 20px;
    color: var(--light-text-color);
    top: 50%;
    left: 39%;
}

/* <------------Main Section content styling------------> */

.card {
    position: relative;
    
}

.card p,
.card ul {
    max-width: 60%;
    padding: 50px;
    margin: 90px 50px;
    color: #fbf8fc;
    margin-left: 20%;
    border: 2px solid var(--light-text-color);
    border-radius: 2px;
    align-items: center;
}

.card h2 {
    color: var(--light-text-color);
    position: absolute;
    width: 100%;
    margin-left: -81%;
    margin-top: 3%;
    text-align: right;
}

.card ul li {
    color: var(--light-text-color);
    display: inline-block;
    list-style: none;
    align-items: center;
    margin: 10px 30px;
    padding: 5px;
}

.card ul li a {
    text-decoration: none;
    color: var(--light-text-color);

}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60%;
    margin-left: 20%;
    
}


.project-1 {
    display: flex;
    width: 48%;
    height: 500px;
    border: 2px solid var(--light-text-color);
    margin: 1%;
}

.project-2-3 {
    width: 48%;
    margin: 1%;
    height: 500px;
    position: relative;
}

.project-2,
.project-3 {
    display: flex;
    height: 48%;
    border: 2px solid var(--light-text-color);
    
}

.project-2 {
    margin-bottom: 4%;
}

.project-1 {
    position: relative;
}

.project-1 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.project-2 img,
.project-3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-1 a,
.project-2-3 a {
    position: absolute;
    font-family: var(--regular-font);
    color: var(--light-text-color);
    /* background-color: rgb(255, 255, 255, 0.5); */
    /* padding: 10px 70px 10px 5px; */
    border: 2px solid var(--light-text-color);
    padding: 5px;
    font-size: 15px;
    margin-left: 40%;
    text-decoration: none;
}

.project-1 a {
    margin-top: 95%;
}

.project-2 a,
.project-3 a {
    margin-top: 40.5%;
}

footer p {
    color: var(--light-text-color);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 20px;
}

/* @media screen and (max-width: 992px) {
    .project-container {
      max-width: 60%;
    }
   
  } */
  
  @media only screen and (max-width: 600px) {
    .body {
        max-width: 600px;
    }

    .navbar {
        font-size: 12px;
        top: 40%;
    }

    .banner h2 {
        font-size: 30px;
        padding: 8px 14px;

    }

    .banner h1 {
        font-size: 40px;
        left: 25%;
    }
    
    .banner p {
        font-size: 15px;
        left: 30%;
        top: 55%;
    }

    .banner,
    .navbar {
        max-width: 600px;
    }
    
    .card h2 {
        align-items: center;
        margin-top: -4%;
        text-align: center;
        margin-left: 0;
    }

    .project-container {
        display: flex;
        flex-wrap: flex;
    }
    
    .project-1 {
         width: 100%;
         height: 250px;
    }

    .project-2-3 {
        height: 250px;
        width: 100%;        
    }

    .project-2,
    .project-3 {
        width: 100%;
    }
    
    .project-2 {
        margin-bottom: 2%;
    }

    .project-1 a {
        margin-top: 60%;
    }
    .project-2 a,
    .project-3 a {
        margin-top: 22.5%;
    }

    
   
  }



